name: Package controller-runtime envtest

on:
  push:
    branches:
      - main
    paths:
      - 'hack/envtest/_matrix/*.yaml'

permissions:
  contents: write
  pull-requests: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # tag=v5.0.0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # tag=v47.0.0
        with:
          files: |
            hack/envtest/_matrix/*.yaml
      - name: Setup package release version
        id: release-version
        run: |
            if [[ ${{ steps.changed-files.outputs.all_changed_files_count }} != 1 ]]; then
              echo "One Kubernetes patch version files should be changed for a release, found ${{ steps.changed-files.outputs.all_changed_files_count }}"
              exit 1
            fi

            for changed_file in ${{ steps.changed-files.outputs.all_changed_files }}; do
              export KUBERNETES_VERSION=$(echo "${changed_file}" | grep -oP '(?<=/)[^/]+(?=\.yaml)')
              echo "KUBERNETES_VERSION=$KUBERNETES_VERSION" >> $GITHUB_ENV
            done
      - name: Build packages
        run: |
          make release-envtest KUBERNETES_VERSION=${{ env.KUBERNETES_VERSION }}
      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # tag=v2.4.1
        with:
          tag_name: envtest-${{ env.KUBERNETES_VERSION }}
          draft: false
          make_latest: false
          files: |
            out/envtest-*.tar.gz
            out/envtest-*.tar.gz.sha512
          fail_on_unmatched_files: true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # tag=v7.0.8
        with:
          commit-message: Promote envtest release for Kubernetes ${{ env.KUBERNETES_VERSION }}
          title: ":seedling: Promotion of envtest release for Kubernetes ${{ env.KUBERNETES_VERSION }}"
          body: |
            This PR promotes the envtest release for Kubernetes ${{ env.KUBERNETES_VERSION }}.
          branch: promote-envtest-${{ env.KUBERNETES_VERSION }}
          add-paths: |
            envtest-releases.yaml
